body {
    background-color: rgba(0, 0, 0, .75) !important;
}

.container-fluid {
    justify-content: space-around;
    margin: 16px;
    margin-left: 16px !important;
    margin-right: 16px !important;

}

.form-div {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px #fff;
}

table {
    border: 1px solid #fff;
}

.table thead th {
    border: 1px solid #fff;
    color: #fff;
}

.table tbody td {
    border: 1px solid #fff;
    color: #fff;
}